@import url("reset.css");
/* This is a custom font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");
/* New imported font */
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100;300&display=swap);

/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  /* Define design variables */
  --color-primary: #007220ee;
  --color-secondary: #6d3a00;
  --color-background: #ecafaf;
  --color-accent: #00681dee;

  --border-radius: 0.7rem;

  --font-titles: "Open Sans", "Frank Ruhl Libre", serif;
  --font-body: "Open Sans", system-ui, sans-serif; /* system-ui matches the user's system font */
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
  background-image: url('/pexels-mdsnmdsnmdsn-1831234.jpg'); 
  background-attachment: fixed;  /* Makes the background image fixed */
  background-size: cover;        /* Ensures the image covers the entire viewport */
  background-position: center;   /* Centers the image in the viewport */
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  margin: 0;                     /* Removes default margin for full view */
  height: 100vh;
}

/* Layout */
main {
  padding: 2rem;
}

header {
  padding: 1rem;
}

main,
header,
nav {
  max-width: 60rem;
  margin: 0 auto;
}

article,
nav {
  padding: 1rem 0;
}

.rtl {
  direction: rtl;
}

/* Text */
p {
  margin: 0.5rem 0;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: var(--font-titles);
  font-weight: 550;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.7em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-secondary);
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary);
}

/* Forms */
input,
button,
textarea,
select {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

fieldset {
  margin-top: 1.5rem;
  border: 1px solid var(--color-secondary);
}

.counter-button {
  background-color: var(--color-accent);
  width: 2rem;
  height: 2rem;
  color: white;
  border: none;
  border-radius: 1000px; /* Make the button round */
  cursor: pointer;
  font-weight: bold;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(80%);
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.flex-item {
  flex: 1 1 calc(50% - 20px); /* Two items per row with 20px gap */
  background-color: #e9f7ef0b;
  border: 1px solid #dddddd15;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.flex-item:hover{
  background-color: #e9f7ef74;
  border: 1px solid #dddddd8f;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flex-item img {
  max-width: 100%;
  height: auto;
}

.donate{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-inline: 20px;
  text-align: center;
}

.button-link {
  display: flexbox;
  width: 33%;
  padding: 10px 20px;
  background-color: #e9f7ef89;
  border: 1px solid #dddddd71;
  font-size: 16px;
  color: var(--color-primary);
  border-radius: 5px;
  text-decoration: underline;
  text-align: center;
}
.button-link:hover {
  display: flexbox;
  width: 33%;
  padding: 10px 20px;
  background-color: #6d3a0048;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.highlight {
  background-color: var(--color-secondary);
  color: #e9f7ef80;
  transition: background-color 0.3s ease;
}

